In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

#create a date variable that contains the dates
dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]

#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print('Date Index \n',ts)

Date Index
 2011-01-02   -0.840244
2011-01-05    0.530339
2011-01-07   -2.429384
2011-01-08    0.580658
2011-01-10   -1.096757
2011-01-12    1.674125
dtype: float64

In [2]:
print('\nDate Index alone from the series: \n',ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [3]:
stamp=ts.index[2]
print('\nSecond index:\n', stamp)

Second index:
 2011-01-07 00:00:00

In [4]:
#play like a ball with long-times series
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range('2000-01-01',periods=1000))
print('\nDaterange up to 1000 days:\n',longer_ts)

Daterange up to 1000 days:
 2000-01-01   -0.222422
2000-01-02   -2.305760
2000-01-03   -0.785803
2000-01-04   -0.153103
2000-01-05    1.108672
                ...
2002-09-22   -1.035406
2002-09-23    0.582868
2002-09-24   -0.953947
2002-09-25   -0.569894
2002-09-26    0.217724
Freq: D, Length: 1000, dtype: float64

In [5]:
print('\nDate range-2001 year:\n', longer_ts['2001'])

Date range-2001 year:
 2001-01-01   -0.115766
2001-01-02   -1.101790
2001-01-03    0.049445
2001-01-04   -0.930535
2001-01-05   -1.959152
                ...
2001-12-27   -0.328378
2001-12-28   -1.076978
2001-12-29    0.190546
2001-12-30    0.689270
2001-12-31    0.117131
Freq: D, Length: 365, dtype: float64

In [6]:
print('\nDate range-first few dates in 2000 year:\n',longer_ts['2000'].head())

Date range-first few dates in 2000 year:
 2000-01-01   -0.222422
2000-01-02   -2.305760
2000-01-03   -0.785803
2000-01-04   -0.153103
2000-01-05    1.108672
Freq: D, dtype: float64

In [7]:
print('\nDate range-first 15 dates in 02 month 2001 year:\n',longer_ts['2000-02'].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01   -0.709782
2000-02-02   -0.267834
2000-02-03    1.146412
2000-02-04   -0.036688
2000-02-05    0.024043
2000-02-06    0.403166
2000-02-07    0.015310
2000-02-08   -0.073493
2000-02-09    0.414171
2000-02-10    0.339385
2000-02-11    0.683376
2000-02-12    2.483129
2000-02-13    1.292331
2000-02-14    0.361349
2000-02-15    0.309956
Freq: D, dtype: float64

In [8]:
print('\nDate range-rom 26-9-2001:\n',longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26   -0.098204
2000-09-27   -0.164103
2000-09-28    0.093758
2000-09-29   -0.817624
2000-09-30   -0.064005
                ...
2002-09-22   -1.035406
2002-09-23    0.582868
2002-09-24   -0.953947
2002-09-25   -0.569894
2002-09-26    0.217724
Freq: D, Length: 731, dtype: float64

In [10]:
print('\nDate range from 26-9-2001 to 25-9-2002:\n',longer_ts[datetime(2001,9,26):datetime(2002,9,25)])

Date range from 26-9-2001 to 25-9-2002:
 2001-09-26   -0.297230
2001-09-27   -2.021913
2001-09-28   -1.873322
2001-09-29    0.536276
2001-09-30    0.393882
                ...
2002-09-21    0.309201
2002-09-22   -1.035406
2002-09-23    0.582868
2002-09-24   -0.953947
2002-09-25   -0.569894
Freq: D, Length: 365, dtype: float64