In [7]:
import pandas as pd
pd.set_option('display.max_columns',10)
print("original data:\n")
df=pd.read_excel("/Users/student/Downloads/exam list.xlsx")
print(df)

original data:

    Unnamed: 0  serial.no  roll    name  eng  tamil  maths  science  social  \
0            0          1     1     anu   67     76     45       45      77
1            1          2     2     roy   78     80     56       67      87
2            2          3     3  martin   89     54     78       78      89
3            3          4     4    alan   90     67     90       89      86
4            4          5     5    bell   23     89     89       86      85
5            5          6     6   peter   77     74     67       78      45
6            6          7     7  hendry   80     67     56       89      67
7            7          8     8  hendry   80     78     78       88      88
8            8          9     9     ben   90     90     86       78      87
9            9         10    10     ell   89     34     78       56      45
10          10         11    11     soy   88     56     90       78      67
11          11         12    12    park   89     78     78       80      87
12          12         13    13     tom   86     56     45       95      88
13          13         14    14   steve   87     87     78       78      86
14          14         15    15     ken   54     90     67       67      85
15          15         16    16     hen   67     34     89       75      88
16          16         17    17   jemmy   80     56     45       77      84
17          17         18    18     ren   90     78     67       78      85
18          18         19    19     wan   99    100     56       98      85
19          19         20    20     pen   92     45     78       45      85

    total
0     310
1     368
2     388
3     422
4     372
5     341
6     359
7     332
8     431
9     302
10    379
11    412
12    370
13    416
14    363
15    353
16    342
17    398
18    353
19    260

In [9]:
f=df['name'].str.strip()
f.to_excel("/Users/student/Downloads/exam list 2.xlsx")

In [15]:
print(f)

0        anu
1        roy
2     martin
3       alan
4       bell
5      peter
6     hendry
7        NaN
8        ben
9        ell
10       soy
11      park
12       tom
13     steve
14       ken
15       hen
16     jemmy
17       ren
18       wan
19       pen
Name: name, dtype: object

In [11]:
print("\nreplace value:")
k=df.fillna(method='Pad')
print(k)
print("\n updated list\n")
k.to_excel("/Users/student/Downloads/exam list.xlsx")

replace value:
    Unnamed: 0  serial.no  roll    name  eng  tamil  maths  science  social  \
0            0          1     1     anu   67     76     45       45      77
1            1          2     2     roy   78     80     56       67      87
2            2          3     3  martin   89     54     78       78      89
3            3          4     4    alan   90     67     90       89      86
4            4          5     5    bell   23     89     89       86      85
5            5          6     6   peter   77     74     67       78      45
6            6          7     7  hendry   80     67     56       89      67
7            7          8     8  hendry   80     78     78       88      88
8            8          9     9     ben   90     90     86       78      87
9            9         10    10     ell   89     34     78       56      45
10          10         11    11     soy   88     56     90       78      67
11          11         12    12    park   89     78     78       80      87
12          12         13    13     tom   86     56     45       95      88
13          13         14    14   steve   87     87     78       78      86
14          14         15    15     ken   54     90     67       67      85
15          15         16    16     hen   67     34     89       75      88
16          16         17    17   jemmy   80     56     45       77      84
17          17         18    18     ren   90     78     67       78      85
18          18         19    19     wan   99    100     56       98      85
19          19         20    20     pen   92     45     78       45      85

    total
0     310
1     368
2     388
3     422
4     372
5     341
6     359
7     332
8     431
9     302
10    379
11    412
12    370
13    416
14    363
15    353
16    342
17    398
18    353
19    260

 updated list

/var/folders/w2/jykwyxmx79n6905fy_4s9glr0000gp/T/ipykernel_4587/1747668296.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  k=df.fillna(method='Pad')

In [13]:
print("\n drop one particular column and its values:\n")
k.drop(['social'],axis=1,inplace=True)
print(k)
print("\n updated list\n")
k.to_excel("/Users/student/Downloads/exam list.xlsx")

 drop one particular column and its values:

    Unnamed: 0  serial.no  roll    name  eng  tamil  maths  science  total
0            0          1     1     anu   67     76     45       45    310
1            1          2     2     roy   78     80     56       67    368
2            2          3     3  martin   89     54     78       78    388
3            3          4     4    alan   90     67     90       89    422
4            4          5     5    bell   23     89     89       86    372
5            5          6     6   peter   77     74     67       78    341
6            6          7     7  hendry   80     67     56       89    359
7            7          8     8  hendry   80     78     78       88    332
8            8          9     9     ben   90     90     86       78    431
9            9         10    10     ell   89     34     78       56    302
10          10         11    11     soy   88     56     90       78    379
11          11         12    12    park   89     78     78       80    412
12          12         13    13     tom   86     56     45       95    370
13          13         14    14   steve   87     87     78       78    416
14          14         15    15     ken   54     90     67       67    363
15          15         16    16     hen   67     34     89       75    353
16          16         17    17   jemmy   80     56     45       77    342
17          17         18    18     ren   90     78     67       78    398
18          18         19    19     wan   99    100     56       98    353
19          19         20    20     pen   92     45     78       45    260

 updated list