In [6]:
import pandas as pd
d1={
    "name":["sai","sub","poo"],
    "age":[20,21,22]
}
d2={
    "qualified":[True,True,False]
}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf=df1.join(df2)
print(newdf)

  name  age
0  sai   20
1  sub   21
2  poo   22
   qualified
0       True
1       True
2      False
  name  age  qualified
0  sai   20       True
1  sub   21       True
2  poo   22      False

In [7]:
d1={"name":["sai","rishi","thara"],"age":[20,21,22]}
d2={"name":["rupa","rosh","resh"],"age":[23,245,25]}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf1=(df2.merge(df1,on="age",how="right"))
newdf2=(df1.merge(df2,on="age",how="left"))
print(newdf1)
print(newdf2)

    name  age
0    sai   20
1  rishi   21
2  thara   22
   name  age
0  rupa   23
1  rosh  245
2  resh   25
  name_x  age name_y
0    NaN   20    sai
1    NaN   21  rishi
2    NaN   22  thara
  name_x  age name_y
0    sai   20    NaN
1  rishi   21    NaN
2  thara   22    NaN

In [9]:
df=pd.DataFrame({'team':['A','B','C','D'],
             'points':[90,56,78,88],
             'assists':[12,34,23,44],
             'rebounds':[56,23,55,23]})
print(df)
df=pd.melt(df,id_vars='team',value_vars=['points','assists','rebounds'])
print(df)

  team  points  assists  rebounds
0    A      90       12        56
1    B      56       34        23
2    C      78       23        55
3    D      88       44        23
   team  variable  value
0     A    points     90
1     B    points     56
2     C    points     78
3     D    points     88
4     A   assists     12
5     B   assists     34
6     C   assists     23
7     D   assists     44
8     A  rebounds     56
9     B  rebounds     23
10    C  rebounds     55
11    D  rebounds     23