In [25]:
import pandas as pd
d=pd.read_csv("Book1.csv")
print(d)

   S.NO           NAME  GENDER   JOIN DATE  LAST LOGIN TIME  SALARY  BONUS  \
0     1       John Doe    Male    3/1/2020   2/19/2025 8:00   90000   7500
1     2     Jane Smith  Female   6/10/2018   2/19/2025 9:15  100000   8000
2     3  Emily Johnson  Female   8/20/2019  2/18/2025 19:30   85000   7000
3     4  Michael Brown    Male  11/15/2021  2/19/2025 10:00   95000   6000
4     5    Sarah White  Female   1/22/2022  2/19/2025 18:45   88000   7500
5     6      James Lee    Male   5/30/2020  2/19/2025 11:10   83000   7000

  SENIOR MANAGER(T/F)        TEAM
0                   T   Marketing
1                   F       Sales
2                   T          HR
3                   F          IT
4                   T  Operations
5                   F     Finance

In [34]:
df=pd.DataFrame(d)
print("Columns",df.columns)
print(df.shape)

Columns Index(['S.NO', 'NAME', 'GENDER', 'JOIN DATE', 'LAST LOGIN TIME', 'SALARY',
       'BONUS', 'SENIOR MANAGER(T/F)', 'TEAM'],
      dtype='object')
(6, 9)

In [39]:
print("Team\n",df['TEAM'])

Team
 0     Marketing
1         Sales
2            HR
3            IT
4    Operations
5       Finance
Name: TEAM, dtype: object

In [32]:
print(df[0:3])

   S.NO           NAME  GENDER  JOIN DATE  LAST LOGIN TIME  SALARY  BONUS  \
0     1       John Doe    Male   3/1/2020   2/19/2025 8:00   90000   7500
1     2     Jane Smith  Female  6/10/2018   2/19/2025 9:15  100000   8000
2     3  Emily Johnson  Female  8/20/2019  2/18/2025 19:30   85000   7000

  SENIOR MANAGER(T/F)       TEAM
0                   T  Marketing
1                   F      Sales
2                   T         HR

In [33]:
print("Particular person details:\n",df.loc[4])

Particular person details:
 S.NO                                 5
NAME                       Sarah White
GENDER                          Female
JOIN DATE                    1/22/2022
LAST LOGIN TIME        2/19/2025 18:45
SALARY                           88000
BONUS                             7500
SENIOR MANAGER(T/F)                  T
TEAM                        Operations
Name: 4, dtype: object

In [36]:
print(d.loc[d['SALARY']==85000])

   S.NO           NAME  GENDER  JOIN DATE  LAST LOGIN TIME  SALARY  BONUS  \
2     3  Emily Johnson  Female  8/20/2019  2/18/2025 19:30   85000   7000

  SENIOR MANAGER(T/F) TEAM
2                   T   HR

In [38]:
df1=d['SALARY']/100
print(df1)

0     900.0
1    1000.0
2     850.0
3     950.0
4     880.0
5     830.0
Name: SALARY, dtype: float64