In [4]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print('original dataframe with NaN\n',df)
print("\n")
print("Dropped Dataframe\n",df.dropna())
print("\n")

original dataframe with NaN
         one       two     three
a  1.132457  1.188583  0.607491
b -0.322814 -0.912660 -0.922812
c       NaN       NaN       NaN
d  0.720880 -0.206852 -0.987862
e       NaN       NaN       NaN
f -0.328831  0.661645  0.371937


Dropped Dataframe
         one       two     three
a  1.132457  1.188583  0.607491
b -0.322814 -0.912660 -0.922812
d  0.720880 -0.206852 -0.987862
f -0.328831  0.661645  0.371937

In [6]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print('original dataframe with NaN\n',df)
print("\n")
print("Nan replace with'1':\n",df.fillna(1))
print("\n")

original dataframe with NaN
         one       two     three
a -1.276769  0.347334  0.003240
b -1.161418 -2.517040  0.222392
c       NaN       NaN       NaN


Nan replace with'1':
         one       two     three
a -1.276769  0.347334  0.003240
b -1.161418 -2.517040  0.222392
c  1.000000  1.000000  1.000000

In [9]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print('original dataframe with NaN\n',df)
print("\n")
print("NaN with true fill:\n")
print(df['one'].isnull())
print("\n")
print("\nNaN fill with background values:\n")
print(df.bfill())
print("\nNaN filled with forward fill:\n")
print(df.ffill())

original dataframe with NaN
         one       two     three
a -1.756091  0.064197  0.890671
b -0.522434  0.657359  1.117207
c       NaN       NaN       NaN
d -1.078162  1.211461 -1.059457
e       NaN       NaN       NaN
f  1.247250  0.185996 -1.143762


NaN with true fill:

a    False
b    False
c     True
d    False
e     True
f    False
Name: one, dtype: bool



NaN fill with background values:

        one       two     three
a -1.756091  0.064197  0.890671
b -0.522434  0.657359  1.117207
c -1.078162  1.211461 -1.059457
d -1.078162  1.211461 -1.059457
e  1.247250  0.185996 -1.143762
f  1.247250  0.185996 -1.143762

NaN filled with forward fill:

        one       two     three
a -1.756091  0.064197  0.890671
b -0.522434  0.657359  1.117207
c -0.522434  0.657359  1.117207
d -1.078162  1.211461 -1.059457
e -1.078162  1.211461 -1.059457
f  1.247250  0.185996 -1.143762

In [10]:
df=pd.DataFrame({'one':[10,20,80,40,50],'Two':[60,70,80,0,10]})
print("original Dataframe :\n",df)
print("\n dataframe with replace values:\n")
print(df.replace({10:5,80:30}))

original Dataframe :
    one  Two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

 dataframe with replace values:

   one  Two
0    5   60
1   20   70
2   30   30
3   40    0
4   50    5