In [2]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [14]:
import pandas as pd
emp=pd.Series(['uma','siva','sindhu','rare'])
id=pd.Series([10,20,30,40])
Frame={'Emp':emp,'Id':id}
result=pd.DataFrame(Frame)
print("\nSeries to data frame\n")
print(result)
print('\n extracting one column\n')
print(result['Emp'])
result['age']=pd.Series([20,25,30,35])
print(result)
del result['age']
print("\n delecting:",result)
print('\n extracting the second row\n')
print(result.loc[1])
print("slice rows:\n",result[1:3])

Series to data frame

      Emp  Id
0     uma  10
1    siva  20
2  sindhu  30
3    rare  40

 extracting one column

0       uma
1      siva
2    sindhu
3      rare
Name: Emp, dtype: object
      Emp  Id  age
0     uma  10   20
1    siva  20   25
2  sindhu  30   30
3    rare  40   35

 delecting:       Emp  Id
0     uma  10
1    siva  20
2  sindhu  30
3    rare  40

 extracting the second row

Emp    siva
Id       20
Name: 1, dtype: object
slice rows:
       Emp  Id
1    siva  20
2  sindhu  30

In [21]:
d2=pd.DataFrame([['Anu',20],['jinu',19]])
colums=['Emp','Id']
print('\n adding new row values\n',pd.concat([result,d2]))

 adding new row values
       Emp    Id     0     1
0     uma  10.0   NaN   NaN
1    siva  20.0   NaN   NaN
2  sindhu  30.0   NaN   NaN
3    rare  40.0   NaN   NaN
0     NaN   NaN   Anu  20.0
1     NaN   NaN  jinu  19.0