In [8]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n original Dataframe: \n",info)
print('\n square root: \n',info.apply(np.sqrt))
print('\n sum of each column: \n',info.apply(np.sum,axis=0))
print('\n sum of each row: \n',info.apply(np.sum,axis=1))

 original Dataframe:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 square root:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 sum of each column:
 S    12
R    36
dtype: int64

 sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [11]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(info)
print(info.agg(['min','max']))

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7

In [17]:

import pandas as pd
import numpy as np
a=pd.DataFrame([['sai',88],['poo',70]],columns=['EmpName','ID'])
print(a)
a['Age']=[20,30]
print("adding a column: \n",a)
a['Sex']=['male','male']
print("Adding a new column: \n",a)
b=a.assign(Age=[20,18])
print("adding a new column:\n",b)

  EmpName  ID
0     sai  88
1     poo  70
adding a column:
   EmpName  ID  Age
0     sai  88   20
1     poo  70   30
Adding a new column:
   EmpName  ID  Age   Sex
0     sai  88   20  male
1     poo  70   30  male
adding a new column:
   EmpName  ID  Age   Sex
0     sai  88   20  male
1     poo  70   18  male

In [22]:
import pandas as pd
info=pd.DataFrame(np.random.random((5,2)),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print(info2)
info3=info.sort_values(by='col3')
print(info3)

       col3      col4
3  0.616877  0.715612
2  0.525275  0.374843
0  0.905878  0.671011
4  0.287489  0.190296
1  0.797577  0.022897
       col3      col4
0  0.905878  0.671011
1  0.797577  0.022897
2  0.525275  0.374843
3  0.616877  0.715612
4  0.287489  0.190296
       col3      col4
4  0.287489  0.190296
2  0.525275  0.374843
3  0.616877  0.715612
1  0.797577  0.022897
0  0.905878  0.671011

In [2]:
import pandas as pd 
import numpy as np
left=pd.DataFrame({'id':[1,2,3,4],'Name':['Sai','poo','saba','yuvi'],'Sub':['sub1','sub2','sub3','sub4']})
right=pd.DataFrame({'id':[1,2,3,4],'Name':['sanjai','saran','som','ruba'],'sub':['sub2','sub4','sub3','sub5']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

   id  Name   Sub
0   1   Sai  sub1
1   2   poo  sub2
2   3  saba  sub3
3   4  yuvi  sub4
   id    Name   sub
0   1  sanjai  sub2
1   2   saran  sub4
2   3     som  sub3
3   4    ruba  sub5
   id Name_x   Sub  Name_y   sub
0   1    Sai  sub1  sanjai  sub2
1   2    poo  sub2   saran  sub4
2   3   saba  sub3     som  sub3
3   4   yuvi  sub4    ruba  sub5