In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# Create a list of datetime objects
dates = [datetime(2020, 1, 5),
         datetime(2020, 1, 10),
         datetime(2020, 1, 15),
         datetime(2020, 1, 20),
         datetime(2020, 1, 25)]

# Create a pandas Series with random values and datetime index
ts = pd.Series(np.random.randn(5), index=dates)

# Print the resulting Series
print("\nWith this date object, create a series with datetime index:\n", ts)

With this date object, create a series with datetime index:
 2020-01-05   -0.253474
2020-01-10   -0.241841
2020-01-15   -0.089943
2020-01-20   -0.220736
2020-01-25    0.019409
dtype: float64

In [2]:
res=ts.truncate(after="1/15/2020")
print("\nTruncate method to truncate datetime series \n", res)

Truncate method to truncate datetime series
 2020-01-05   -0.253474
2020-01-10   -0.241841
2020-01-15   -0.089943
dtype: float64

In [3]:
da=pd.date_range("10/1/2022", periods=10, freq="W-SUN")
print("\nDate range with day periods.\n",da)

Date range with day periods.
 DatetimeIndex(['2022-10-02', '2022-10-09', '2022-10-16', '2022-10-23',
               '2022-10-30', '2022-11-06', '2022-11-13', '2022-11-20',
               '2022-11-27', '2022-12-04'],
              dtype='datetime64[ns]', freq='W-SUN')

In [4]:
date=pd.DatetimeIndex(["1/1/2020","1/2/2020","1/2/2020","1/2/2020","1/3/2020"])
ts1=pd.Series(np.arange(5), index=date)
print("\nDuplicate datetime index:\n",ts1)

Duplicate datetime index:
 2020-01-01    0
2020-01-02    1
2020-01-02    2
2020-01-02    3
2020-01-03    4
dtype: int64

In [5]:
group=ts1.groupby(level=0)
print("\nRepeated date counts:\n",group.count())

Repeated date counts:
 2020-01-01    1
2020-01-02    3
2020-01-03    1
dtype: int64

In [6]:
long_df=pd.DataFrame(np.random.randn(10,4),index=da,columns=list("ABCD"))
print("\nMulti-column DataFrame with datatime index:\n",long_df)

Multi-column DataFrame with datatime index:
                    A         B         C         D
2022-10-02  1.169473  2.383080  0.658752 -0.397627
2022-10-09 -0.260207 -0.618342  0.678804  0.207179
2022-10-16  0.762189 -0.125292  1.706538 -0.178971
2022-10-23  0.232036 -0.361363  0.061278 -1.207505
2022-10-30 -1.987572  0.544598 -0.116666 -0.910262
2022-11-06 -0.161002  1.081359 -0.782347  0.146812
2022-11-13 -0.282892 -0.361374  1.019046  0.580052
2022-11-20 -1.635880  1.350137  0.110345  0.070376
2022-11-27 -0.187448 -1.067645  1.291069 -0.308717
2022-12-04  0.567007 -0.002588  0.004242 -1.262224